@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("bg1.jpg") #f1f1f1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.container {
  background: #ffffff;
  width: 700px;
  margin: 0 auto;
}

.c1 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input,
.select-opt {
  border: 2px solid #f1c40f;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 10px;
}

.select-opt {
  margin-top: 20px;
}

.action-btn {
  background: #8e44ad;
  background-image: linear-gradient(to left bottom, #9b59b6, #9854b4, #954fb2, #9149af, #8e44ad);
  color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s all ease-in-out;
  animation: slide-action 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    slide-action2 0.5s infinite 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ab2 {
  background: #e74c3c;
}

.action-btn i {
  margin-left: 20px;
}

.action-btn:nth-child(even) {
  animation-delay: 0.3s;
}

h1 {
  font-family: "Bungee Inline", cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #2c2c2c;
  transition: 0.5s all ease-in-out;
  animation: slide-name 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #f1c40f;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f8f3db;
}

td i {
  margin-right: 10px;
}

.delete {
  color: #e74c3c;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.select-opt {
  width: 100%;
}

.add-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.add-player-container input {
  width: 70%;
  padding: 10px;
}

.add-player-container button {
  background: #f1c40f;
  background-image: linear-gradient(to left bottom, #f1c40f, #f2ba0b, #f3b00b, #f3a60e, #f39c12);
  color: #ffffff;
  width: 28%;
  padding: 10px;
  font-weight: 600;
}

.add-player-container button i {
  margin-left: 10px;
}

.current-match {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  font-size: 25px;
  font-family: "Luckiest Guy", cursive;
}

.player {
  position: relative;
  background: #2ecc71;
  background-image: linear-gradient(to left bottom, #2ecc71, #2cc46d, #2abd68, #29b564, #27ae60);
  color: #ffffff;
  padding: 15px;
  padding-right: 90px;
  width: 45%;
  text-transform: uppercase;
  text-align: end;
  font-size: 30px;
  font-weight: 700px;
  transition: 0.3s all;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.player2 {
  background: #3498db;
  text-align: start;
  padding-left: 90px;
}

.playerClick {
  background: #f1c40f;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.player i {
  margin-right: 10px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #ffffff;
  color: #000000;
  height: 80px;
  width: 80px;
  top: -2px;
  right: -2px;
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  border-radius: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  animation: score 1s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.player2 .score {
  left: -2px;
}

.displayWinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.displayWinner i {
  color: #f1c40f;
  margin-top: 20px;
  font-size: 100px;
}

#winnerName {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

@keyframes slide-action {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-action2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes score {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-name {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(10px);
    opacity: 1;
  }
  70% {
    transform: translateY(-40px);
    opacity: 1;
  }
  90% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
