@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

/* #f1c40f */
/* #f39c12 */
/* #e74c3c */
/* #3498db */
/* #2ecc71 */
body {
  background: url("bg3.jpg") #f1f1f1;
  /* background-image: linear-gradient(to left top, #f1c40f, #bdce34, #89d25c, #55d284, #00cea8); */
  /* background-image: linear-gradient(to left top, #f1c40f, #f2ba0b, #f3b00b, #f3a60e, #f39c12); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.container {
  background: #ffffff;
  width: 800px;
  margin: 0 auto;
}

.c1 {
  margin-top: 50px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input,
.select-opt {
  border: 2px solid #f1c40f;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 10px;
}

.action-btn {
  background: #8e44ad;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  animation: slide-action 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    slide-action2 0.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

h1 {
  /* font-family: "Bungee Outline", cursive; */
  font-family: "Bungee Inline", cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #e74c3c;
  transition: 0.5s all ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation: slide-name 1.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #f1c40f;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f8f3db;
}

td i {
  margin-right: 10px;
}

.select-opt {
  width: 100%;
}

.add-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.add-player-container input {
  width: 80%;
  padding: 10px;
}

.add-player-container button {
  background: #f1c40f;
  color: #ffffff;
  width: 18%;
  padding: 10px;
  font-weight: 600;
}

.current-match {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  font-size: 20px;
}

.player {
  background: #2ecc71;
  color: #ffffff;
  padding: 20px;
  width: 45%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700px;
  transition: 0.5s all;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.p2 {
  background: #2ecc71;
}

.player:hover {
  background: #d35400;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.player i {
  margin-right: 10px;
}

@keyframes slide-action {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-action2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-name {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(10px);
    opacity: 1;
  }
  70% {
    transform: translateY(-40px);
    opacity: 1;
  }
  90% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
